/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: > 2% and last 1 version
*/

.custom-radio,
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}

.custom-label {
  cursor: pointer;
}

.custom-radio + label,
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.custom-radio + label::before,
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-right: 0.5em;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}

.custom-checkbox + label::before {
  border-radius: 0.25em;
  background-size: 70% 70%;
}

.custom-radio:checked + label::before {
  background-image: url("../images/icons/radio.svg");
  background-position: center;
}

.custom-checkbox:checked + label::before {
  background-image: url("../images/icons/tick.svg");
  background-position: center;
}

.custom-checkbox:not(:disabled):hover + label::before,
.custom-radio:not(:disabled):hover + label::before {
  background-color: #cfdde9;
}

.custom-checkbox:focus + label::before,
.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem #83b3d3;
  background-color: #ffffff;
}

.custom-checkbox:focus:not(:focus-visible) + label::before,
.custom-radio:focus:not(:focus-visible) + label::before {
  box-shadow: none;
}

.custom-checkbox:focus-visible + label::before,
.custom-radio:focus-visible + label::before {
  background-color: #ffffff;
  box-shadow: 0 0 0 0.2rem #83b3d3;
}

.custom-checkbox:not(:disabled):active + label::before,
.custom-radio:not(:disabled):active + label::before {
  background-color: #a4bcd6;
}

.custom-checkbox:disabled + label::before,
.custom-radio:disabled + label::before {
  opacity: 0.5;
  pointer-events: none;
}
