/* COMMON */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  position: relative;
}

.btn {
  border: none;
  margin: 0;
  border-radius: 4px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
}

.btn[disabled],
.btn.disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.btn-brown {
  background-color: #756157;
  color: #ffffff;
}

.btn-brown:hover,
.btn-brown:focus {
  background-color: #615048;
}

.btn-brown:focus:not(:focus-visible) {
  background-color: #756157;
}

.btn-brown:focus-visible {
  background-color: #615048;
}

.btn-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn-blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #68a2c2;
}

.btn-blue:focus:not(:focus-visible) {
  background-color: #82b3d3;
}

.btn-blue:focus-visible {
  background-color: #68a2c2;
}

.btn-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.btn-green {
  background-color: #7db54f;
  color: #ffffff;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #6c9e42;
}

.btn-green:focus:not(:focus-visible) {
  background-color: #7db54f;
}

.btn-green:focus-visible {
  background-color: #6c9e42;
}

.btn-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.btn-transparent {
  color: #ffffff;
}

.btn-transparent:hover {
  opacity: 0.6;
}

.btn-transparent:focus {
  outline: 3px solid #83b3d3;
}

.btn-transparent:focus:not(:focus-visible) {
  outline: none;
}

.btn-transparent:focus-visible {
  outline: 3px solid #83b3d3;
}

.btn-transparent:active {
  opacity: 0.3;
}

.btn-transparent:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.input {
  background-color: #f2f2f2;
  color: #000000;
  font-family: inherit;
  outline: 0;
  border: 0;
  outline-offset: 0;
}

.input:not(:disabled):hover {
  background-color: #e6e6e6;
  cursor: text;
}

.input:not(:disabled):focus {
  outline: 3px solid #83b3d3;
  outline-offset: -2px;
  background-color: #e6e6e6;
}

.input:not(:placeholder-shown):focus {
  outline: 2px solid #000000;
  outline-offset: -2px;
  background-color: #f2f2f2;
}

.input:not(:disabled):active {
  outline: 2px solid #000000;
  outline-offset: -2px;
  background-color: #f2f2f2;
}

.input:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  outline-offset: -2px;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nobr {
  white-space: nowrap;
}

.layout-container {
  width: 1200px;
  /*width: 100%;*/
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER*/
.page-header {
  display: flex;
  width: 100%;
  padding: 0 70px;
  position: relative;
  box-sizing: border-box;
  min-height: auto;
}

.page-header-wrapper {
  flex: 1 1 auto;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navigation-list,
.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 100%;
}

.navigation-list {
  margin-right: 40px;
  max-width: 500px;
  flex: 1 1 auto;
}

.user-navigation-list {
  justify-content: flex-end;
  max-width: 300px;
  margin-left: auto;
  flex: 1 0 auto;
}

.page-header-logo-link {
  margin-right: 44px;
  display: flex;
  width: 140px;
  height: 64px;
  position: relative;
  flex-shrink: 0;
}

.page-header-logo-link:not(.current):hover,
.page-header-logo-link:not(.current):focus {
  opacity: 0.8;
}

.page-header-logo-link-img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.navigation-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-link {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  cursor: default;
}

.navigation-link.current::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #756257;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.navigation-link:not(.current):hover,
.user-navigation-btn:focus {
  color: #68a2ca;
  cursor: pointer;
}

.navigation-link:not(.current):active {
  color: #68a2ca;
  opacity: 0.3;
  cursor: pointer;
}


.user-navigation-item {
  display: flex;
  align-items: center;
}

.user-navigation-search-btn,
.user-navigation-favorite-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-navigation-search-btn {
  padding: 20px 10px;
}

.user-navigation-favorite-link {
  position: relative;
  padding: 20px 10px;
}

.user-navigation-item-favorite {
  margin-left: 4px;
}

.user-navigation-btn:hover path,
.user-navigation-btn:focus path {
  fill: #68a2ca;
}

.user-navigation-btn:focus {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.user-navigation-btn:focus:not(:focus-visible) {
  outline: none;
}

.user-navigation-btn:focus-visible {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.user-navigation-btn:active path {
  fill: #68a2ca;
  opacity: 0.3;
}

.user-navigation-favorite-count {
  position: absolute;
  right: 2px;
  top: 9px;
  width: 2em;
  height: 2em;
  background-color: #7db54f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  overflow: hidden;
}

.user-navigation-popup-btn {
  background-color: #756157;
  padding: 8px 35px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 200px;
}

.user-navigation-item-popup {
  margin-left: 21px;
}

/* MAIN*/
.main-index,
.main-catalog {
  flex-grow: 1;
}

.promo {
  width: 100%;
  background-color: #3f5e72;
  background-image: url("../images/index/promo-divider.svg"),
  url("../images/index/promo-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, center;
  padding: 52px 10px 82px;
  background-size: contain, cover;
}

.promo-text-img {
  display: block;
  object-fit: contain;
  object-position: center;
  width: 100%;
  max-width: 458px;
  margin: 0 auto;
}

/* ADVANTAGES */
.advantages {
  text-align: center;
}

.advantages-text-wrapper {
  padding: 68px 70px 90px;
  width: 100%;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto 26px;
  max-width: 660px;
  text-transform: uppercase;
}

.advantages-subtitle {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
  position: relative;
  text-align: center;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.advantages-item-wrapper {
  width: 400px;
  padding: 102px 85px;
  overflow: hidden;
}

.advantages-item-img-wrapper {
  flex: 1 1 auto;
}

.advantages-item-picture {
  display: block;
  object-fit: cover;
  height: 100%;
}

.advantages-item-opacity-12 {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-opacity-20 {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.advantages-item-opacity-12 div,
.advantages-item-opacity-20 div {
  padding: 112px 85px 114px;
}

.advantages-item-opacity-12 h3,
.advantages-item-opacity-20 h3 {
  color: #000000;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto 60px;
}

.advantages-item-text {
  margin: 0 auto;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.advantages-item-title::after {
  content: "";
  position: absolute;
  width: 60px;
  display: block;
  height: 2px;
  background-color: rgba(167, 202, 224, 1);
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-item-title-opacity-12::after,
.advantages-item-title-opacity-20::after {
  background-color: rgba(168, 172, 175, 1);
}

/* SERVICES */
.services {
  text-align: center;
}

.services-text-wrapper {
  width: 100%;
  padding: 65px 70px;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0 auto 20px;
  max-width: 500px;
  text-transform: uppercase;
}

.services-subtitle {
  max-width: 550px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.services-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  flex-basis: 33.33%;
  min-height: 385px;
  border: 1px solid #ffffff;
  position: relative;
  padding: 152px 82px 60px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top 78px center;
  background-size: 75px 75px;
}

.services-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item-title {
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
  margin: 28px 0 14px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-item-text {
  color: #333333;
  max-width: 100%;
}

.services-item-house {
  background-image: url("../images/index/services-house.svg");
}

.services-item-food {
  background-image: url("../images/index/services-food.svg");
}

.services-item-gifts {
  background-image: url("../images/index/services-gifts.svg");
}

/* SEARCH */
.search-hotel {
  padding: 96px 0 104px;
  text-align: center;
  width: 100%;
}

.search-hotel-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  max-width: 90%;
  text-transform: uppercase;
}

.search-hotel-subtitle {
  max-width: 592px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto 60px;
}

.search-hotel-btn {
  margin: 0 auto;
  padding: 13px 50px;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
}

/* SUBSCRIBE */
.subscribe {
  color: #ffffff;
  text-align: center;
  background: #3f5e72 url("../images/index/subscribe-bg.jpg") no-repeat 100%;
  background-size: cover;
  padding: 96px 20px 104px;
  box-sizing: border-box;
}

.subscribe-catalog {
  background: none;
  color: #000000;
}

.subscribe-title {
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-subtitle {
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 56px;
  text-align: center;
}

.subscribe-catalog .subscribe-subtitle {
  color: #333333;
}

.subscribe-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 684px;
  margin: 0 auto;
}

.subscribe-form-label {
  flex: 1 0 auto;
  min-height: 100%;
}

.subscribe-form-input {
  border-radius: 4px 0 0 4px;
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.subscribe-form-input:not(:placeholder-shown) {
  color: rgba(0, 0, 0, 1);
}

.subscribe-btn {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  min-height: 100%;
}


/* FOOTER */
.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.page-footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

.page-footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  min-height: 40px;
}

.page-footer-social-link:hover path,
.page-footer-social-link:focus path {
  fill: #68a2ca;
}

.page-footer-social-link:active path {
  fill: #68a2ca;
  opacity: 0.3;
}

.page-footer-contacts {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.page-footer-contacts-phone {
  text-decoration: none;
  word-wrap: break-word;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer-contacts-phone:hover,
.page-footer-contacts-phone:focus,
.page-footer-dev-link:hover path,
.page-footer-dev-link:focus path {
  fill: #756157;
  color: #756157;
}

.page-footer-contacts-phone:active,
.page-footer-dev-link:active path {
  fill: #756157;
  color: #756157;
  opacity: 0.3;
}

.page-footer-dev {
  max-width: 115px;
  display: flex;
  flex-wrap: wrap;
}

/* FILTER */
.filter {
  background: #3f5e72 url("../images/catalog/filter-background.jpg") no-repeat 100%;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 56px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 7px;
}

.filter-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.filter-breadcrumbs > *:not(:last-child) {
  margin-right: 10px;
  position: relative;
}

.filter-breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 10px;
}

.filter-breadcrumbs-home-link {
  padding-left: 0;
  border-radius: 2px;
}

.filter-breadcrumbs-link[href]:not(.filter-breadcrumbs-home-link):hover {
  color: #68a2ca;
  cursor: pointer;
}

.filter-breadcrumbs-link[href]:not(.filter-breadcrumbs-home-link):focus,
.filter-breadcrumbs-link[href]:not(.filter-breadcrumbs-home-link):active {
  color: #68a2ca;
  opacity: 0.5;
}

.filter-breadcrumbs-home-link:hover path,
.filter-breadcrumbs-home-link:focus path {
  fill: #68a2ca;
}

.filter-breadcrumbs-home-link:focus {
  outline: none;
}

.filter-breadcrumbs-home-link:focus svg {
  outline: 1px solid #68a2ca;
  outline-offset: 4px;
}

.filter-breadcrumbs-home-link:focus:not(:focus-visible) svg {
  outline: none;
}

.filter-breadcrumbs-home-link:focus-visible svg {
  outline: 1px solid #68a2ca;
  outline-offset: 4px;
}

.filter-breadcrumbs-home-link:active path {
  fill: #68a2ca;
  opacity: 0.3;
}

.filter-breadcrumbs > *:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 9px;
  background: url("../images/icons/arrow-right.svg") no-repeat 100%;
  background-size: cover;
}

.filter-form {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  padding: 0;
}

.filter-form-field {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
}

.filter-form-field:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.filter-form-field > * {
  margin-bottom: 16px;
}

.filter-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 32px;
}

.filter-form-infrastructure {
  margin-right: 67px;
}

.filter-form-type {
  margin-right: 148px;
}

.filter-form-price {
  margin-right: 68px;
}

.filter-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-form-price-btn::-webkit-outer-spin-button,
.filter-form-price-btn::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.filter-form-label-wrapper {
  display: flex;
  align-items: center;
}

.filter-form-infrastructure input[type="checkbox"],
.filter-form-type input[type="radio"] {
  margin-right: 8px;
}

.filter-form-price-wrapper {
  display: flex;
  width: 100%;
  max-width: 288px;
  justify-content: space-between;
  margin-bottom: 31px;
  border-radius: 4px;
}

.filter-form-price-wrapper label {
  position: relative;
  background-color: #ffffff;
  flex-basis: 49.7%;
  border-radius: 4px 0 0 4px;
}

.filter-form-price-wrapper input {
  padding: 12px 42px 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  box-sizing: border-box;
  border: transparent;
  width: 100%;
  height: 100%;
  border-radius: 4px 0 0 4px;
  -moz-appearance: textfield;
}

.filter-form-price-wrapper input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.filter-form-price-wrapper input:not(:placeholder-shown):focus {
  outline: 2px solid #000000;
  outline-offset: -1px;
  background-color: #f2f2f2;
}

.filter-form-price-wrapper input:not(:disabled):active {
  outline: 2px solid #000000;
  outline-offset: -1px;
  background-color: #f2f2f2;
}

.filter-form-price-wrapper input:disabled {
  opacity: 0.5;
  outline: none;
}

.filter-form-price-wrapper label + label,
.filter-form-price-wrapper .filter-form-price-btn-to {
  border-radius: 0 4px 4px 0;
}

.filter-form-price-wrapper label::after {
  content: "от";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  max-width: 30px;
  overflow-wrap: break-word;
}

.filter-form-price-wrapper label:nth-of-type(2)::after {
  content: "до";
}

.filter-form-range-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 290px;
  height: 4px;
}

.filter-form-range-wrapper label {
  margin: 0;
  padding: 0;
}

.range-from {
  direction: rtl;
  transform: rotate(180deg);
}

.filter-form-range-wrapper input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border: 0;
  margin: 0;
  padding: 0;
  background: rgba(96, 105, 109, 1) linear-gradient(#ffffff, #ffffff) no-repeat;
  background-size: 50% 100%;
  position: relative;
  outline: none;
}

.filter-form-range-wrapper input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.2rem #83b3d3;
}

.filter-form-range-wrapper input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.1rem #83b3d3;
}


.range-to-last {
  box-shadow: -5px 0 0 #ffffff;
}

.filter-form-range-wrapper input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
}

.filter-form-range-wrapper input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}

.filter-form-btn {
  box-sizing: border-box;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-form-btn.btn-blue {
  margin: 54px auto 32px;
}


/* HOTELS */
.hotels {
  padding: 50px 70px 60px;
  background-color: #ffffff;
}

.catalog-hotels-list,
.pagination-list {
  flex-wrap: wrap;
}

.hotels-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hotels-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.hotels-header-wrapper-filter {
  flex-basis: 42%;
  flex-grow: 1;
  justify-content: flex-end;
}

.hotels-header-wrapper-label {
  min-width: 292px;
  padding: 0;
}

.hotels-header-wrapper-output {
  padding-top: 8px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 20px;
}

.hotels-header-count {
  margin-left: 8px;
}

.hotels-select {
  margin: 0;
  width: 100%;
  padding: 13px 40px 12px 17px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url("../images/icons/select-tick.svg") no-repeat right 20px center;
}

.hotels-select:hover {
  border-color: #68a2ca;
}

.hotels-select:focus {
  border-color: #68a2ca;
  outline: none;
}

.hotels-select:focus:not(:focus-visible) {
  border-color: #e5e5e5;
}

.hotels-select:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.hotels-select:active {
  border-color: #3f5e72;
  outline: none;
}

.hotels-select[disabled] {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}


.view-list {
  margin-left: 68px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48px, auto));
  gap: 8px;
  max-width: 260px;
}

.view-btn {
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-size: cover;
  transition: 0.5s;
}

.view-btn.current,
.view-btn:hover {
  border-color: #000000;
}

.view-btn:focus {
  border-color: #68a2ca;
  outline: none;
}

.view-btn:focus:not(:focus-visible) {
  border-color: #000000;
  outline: none;
}

.view-btn:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.view-btn:active {
  border-color: #000000;
  background-color: #ffffff;
  opacity: 1;
}

.view-btn-tile {
  background: #ffffff url("../images/catalog/hotels-view-tile.svg") no-repeat center;
}

.view-btn-content {
  background: #ffffff url("../images/catalog/hotels-view-content.svg") no-repeat center;
}

.view-btn-list {
  background: #ffffff url("../images/catalog/hotels-view-list.svg") no-repeat center;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 0 78px;
}

.catalog-hotels-item {
  padding: 19px;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  box-sizing: border-box;
}

.catalog-hotels-link {
  display: block;
  width: 100%;
  margin-bottom: auto;
}

.catalog-hotels-link:focus {
  outline: none;
  box-shadow: 0 0 4px #3f5e72;
}

.catalog-hotels-link:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.catalog-hotels-link:focus-visible {
  outline: none;
  box-shadow: 0 0 2px #3f5e72;
}

.catalog-hotels-link:active h3 {
  color: #756157;
  opacity: 0.3;
}

.catalog-hotels-item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.catalog-hotels-item-img:hover {
  opacity: 0.8;
}

.catalog-hotels-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  width: 100%;
  margin: 0 0 16px;
}

.catalog-hotels-item-title:hover {
  color: #756157;
  opacity: 0.8;
}

.catalog-hotels-item-price {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 16px;
  width: 100%;
}

.catalog-hotels-item-price > span:first-child {
  max-width: 150px;
}


.catalog-hotels-item-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 18px;
}

.catalog-hotels-item-btn {
  padding: 8px 16px;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  flex-basis: 47%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-hotels-item-rating-wrapper {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.catalog-hotels-item-rating {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
  padding: 8px 22px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 150px;
}

.star-item {
  min-width: 18px;
  min-height: 17px;
  background: url("../images/icons/star.svg") no-repeat center;
  background-size: contain;
}

.star-item:not(:last-child) {
  margin-right: 6px;
}

.pagination-list {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-gap: 8px;
}

.pagination-btn {
  min-width: 60px;
  max-width: 80px;
  padding: 4px;
  height: 60px;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.6s;
}

.pagination-btn.current {
  background-color: rgba(242, 242, 242, 1);
  color: #000000;
}

.pagination-btn.dots {
  background-color: transparent;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.pagination-btn:not(.current,.dots):hover,
.pagination-btn:not(.current,.dots):focus {
  border: 1px solid #82b3d3;
  background-color: #68a2ca;
}

.pagination-btn:not(.current):active {
  background-color: #82b3d3;
  opacity: 0.3;
}

/*CHECKBOXES AND RADIOBUTTONS*/
.custom-radio,
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}

.custom-label {
  cursor: pointer;
}

.custom-radio + label,
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

.custom-radio + label::before,
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-right: 18px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
}

.custom-checkbox + label::before {
  border-radius: 0.25em;
  background-size: 70% 70%;
}

.custom-radio:checked + label::before {
  background-image: url("../images/icons/radio.svg");
  background-position: center;
}

.custom-checkbox:checked + label::before {
  background-image: url("../images/icons/tick.svg");
  background-position: center;
}

.custom-checkbox:not(:disabled):hover + label::before,
.custom-radio:not(:disabled):hover + label::before {
  background-color: #cfdde9;
}

.custom-checkbox:focus + label::before,
.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem #83b3d3;
  background-color: #ffffff;
}

.custom-checkbox:focus:not(:focus-visible) + label::before,
.custom-radio:focus:not(:focus-visible) + label::before {
  box-shadow: none;
}

.custom-checkbox:focus-visible + label::before,
.custom-radio:focus-visible + label::before {
  background-color: #ffffff;
  box-shadow: 0 0 0 0.2rem #83b3d3;
}

.custom-checkbox:not(:disabled):active + label::before,
.custom-radio:not(:disabled):active + label::before {
  background-color: #a4bcd6;
}

.custom-checkbox:disabled + label::before,
.custom-radio:disabled + label::before {
  opacity: 0.5;
  pointer-events: none;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: auto;
  background-color: rgba(242, 242, 242, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.modal-form {
  width: 100%;
  max-width: 718px;
  height: fit-content;
  margin: auto;
  font-size: 20px;
  line-height: 24px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  padding: 64px 54px 62px 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  box-sizing: border-box;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  flex-basis: 80%;
  margin: 0 0 63px;
}

.modal-close {
  min-width: 50px;
  min-height: 50px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  justify-self: flex-end;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close:focus:not(:focus-visible) {
  outline: none;
}

.modal-close:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close:active path {
  fill: #a1a1a1;
}

.modal-close:active {
  background-color: #e6e6e6;
}

.modal-label {
  flex-basis: 20%;
  font-weight: 700;
  text-transform: capitalize;
}

.modal-input-wrapper {
  position: relative;
  flex-basis: 77%;
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-input-inner-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
}

.modal-input {
  width: 100%;
  min-height: 48px;
  padding: 12px 16px 12px 20px;
  border: 0;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0;
}

.modal-input-start,
.modal-input-end {
  width: 100%;
  height: 100%;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding: 12px 30px 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  background: #f2f2f2 url("../images/icons/date-icon.svg") no-repeat right 22px center;
  background-size: 15px;
  border-radius: 4px;
  border: none;
}

.modal-input-start::placeholder,
.modal-input-end::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-input ~ .input:not(:placeholder-shown) {
  color: rgba(0, 0, 0, 1);
}

.modal-input:hover ~ .input {
  background-color: #e6e6e6;
}

.modal-input:focus ~ .input {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  background-color: #e6e6e6;
}

.modal-input:focus ~ .input:not(:placeholder-shown),
.modal-input:not(:disabled):active ~ .input {
  outline: 2px solid #000000;
  outline-offset: -2px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 1);
}

.modal-input:disabled ~ .input,
.modal-input:disabled:hover ~ .input,
.modal-input:disabled:focus ~ .input,
.modal-input:disabled:active ~ .input {
  outline: 1px solid rgba(0, 0, 0, 0.2);
  outline-offset: -1px;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.4;
}

.modal-input-inner-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.modal-input-wrapper:nth-of-type(2) {
  margin-bottom: 22px;
}

.modal-submit {
  padding: 18px 77px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  flex-basis: 98%;
}

.modal-btn-wrapper {
  flex-basis: 48%;
  display: flex;
}

.modal-btn-wrapper-children {
  padding-right: 16px;
  justify-content: flex-end;
  margin-bottom: 48px;
}

.modal-btn-inner-wrapper,
.modal-label-result {
  display: flex;
}

.modal-label-people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  margin-right: 44px;
}

.modal-btn {
  background-color: #f2f2f2;
  border: 0;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  box-sizing: border-box;
  background-size: 14px;
  outline: none;
}

.modal-btn svg {
  width: 14px;
  height: 14px;
}

.modal-btn-plus:hover path,
.modal-btn-minus:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.modal-btn-plus:focus svg,
.modal-btn-minus:focus svg {
  border-radius: 1px;
  outline: 3px solid #82b3d3;
  outline-offset: 4px;
}


.modal-btn-plus:focus:not(:focus-visible) svg,
.modal-btn-minus:focus:not(:focus-visible) svg {
  border-radius: 1px;
  outline: none;
}

.modal-btn-plus:focus-visible svg,
.modal-btn-minus:focus-visible svg {
  border-radius: 1px;
  outline: 3px solid #82b3d3;
  outline-offset: 4px;
}

.modal-btn-plus:active path,
.modal-btn-minus:active path {
  fill: #000000;
  fill-opacity: 0.2;
}

.modal-btn-result {
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  border: 0;
  padding: 14px 6px;
  min-height: auto;
  -moz-appearance: textfield;
}

.modal-btn-result:focus {
  outline: 3px solid rgba(164, 188, 214, 0.9);
  outline-offset: -3px;
}

.modal-btn-result::-webkit-outer-spin-button,
.modal-btn-result::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.modal-btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.message {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  width: 100%;
  padding-left: 18px;
  color: #333333;
}

.error {
  display: none;
  color: #ff5757;
}

.modal-info-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  min-width: 26px;
  min-height: 26px;
  background-color: #83b3d3;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

.modal-info {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 158%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: initial;
  background-color: #333333;
  color: #ffffff;
  width: 256px;
  padding: 20px 18px 22px 22px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  display: none;
  text-align: left;
}

.modal-info-wrapper:hover .modal-info,
.modal-info-wrapper:focus .modal-info {
  display: block;
}

.modal-info::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
  border: 20px solid transparent;
  border-bottom: 20px solid #333333;
}

.navigation-btn {
  display: none;
  width: 40px;
  height: 30px;
  border: 0;
  background-color: transparent;
}

.navigation-btn-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000;
}

.navigation-btn-line:not(:last-child) {
  margin-bottom: 5px;
}

